.transformation_box {
  width: inherited;
  padding: 5px;
  margin: 5px;
  border: 5px solid blue;
}

.ace-alg-tool.ace_focus .ace_marker-layer .ace_active-line {
  background: white;
}
.ace-alg-tool .ace_marker-layer .ace_bracket {
  margin: 1px 0 1px 0;
  border: 1px solid rgb(125,125,125);
}

/* https://github.com/ajaxorg/ace/issues/4069 */
.ace_mobile-menu {
  display: none !important
}
